@model ELaundry.Models.ViewModel.SettingViewModel

@{
    Layout = null;
}
@using (Html.BeginForm("AddOrEdit", "Setting", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.SettingId)
        <div class="form-group">
            @Html.LabelFor(model => model.DiscountRate, new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.DiscountRate, new { @class = "form-control", @onkeypress="return isNumberKey(event,this)"})
                <label style="color:red; display:none" id="lblError"></label>
                @Html.ValidationMessageFor(model => model.DiscountRate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control"})
                <label style="color:red; display:none" id="lblError"></label>
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.CheckBox("IsActive")
               
               
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3"></label>
            <div class="col-md-8">
                <input type="submit" value="Create" id="submitRecord" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<script>
     function isNumberKey(evt, element) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57) && !(charCode == 46 || charCode == 8))
            return false;
        else {
            var len = $(element).val().length;
            var index = $(element).val().indexOf('.');
            if (index > 0 && charCode == 46) {
                return false;
            }
            if (index > 0) {
                var CharAfterdot = (len + 1) - index;
                if (CharAfterdot > 3) {
                    return false;
                }
            }

        }
        return true;
    }
</script>