<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>E-Laundry System | On Demand Laundry in Kathmandu</title>
    <meta name="description" content="E-Laundry System | On Demand Laundry in Kathmandu. Designed by Santosh Acharya">
    <meta name="keywords" content="laundry, multipage, business, clean, bootstrap">
    <meta name="author" content="santoshach.com.np">

    <!-- ==============================================
    Favicons
    =============================================== -->
    <link rel="shortcut icon" href="~/HomeContents/images/favicon.ico">
    <link rel="apple-touch-icon" href="~/HomeContents/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/HomeContents/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/HomeContents/images/apple-touch-icon-114x114.png">

    <!-- ==============================================
    CSS
    =============================================== -->
    <link rel="stylesheet" type="text/css" href="~/HomeContents/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/HomeContents/css/font-awesome.min.css">



    <!-- ==============================================
    Google Fonts
    =============================================== -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,900' rel='stylesheet' type='text/css'>


    <!-- Custom Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/HomeContents/css/style.css" />


    <script type="text/javascript" src="~/HomeContents/js/modernizr.min.js"></script>



</head>

<body>

    <!-- Load page -->
    <div class="animationload">
        <div class="loader"></div>
    </div>


    <!-- NAVBAR SECTION -->
    <div class="navbar navbar-main navbar-fixed-top">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                        <div class="info">
                            <div class="info-item">
                                <span class="fa fa-phone"></span> Phone +9779866027202
                            </div>
                            <div class="info-item">
                                <span class="fa fa-envelope-o"></span> <a href="mailto:info@elaundrynepal.com" title="">Email info@elaundrynepal.com</a>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                        <div class="top-sosmed pull-right">
                            <a href="#" title=""><span class="fa fa-facebook"></span></a>
                            <a href="#" title=""><span class="fa fa-twitter"></span></a>
                            <a href="#" title=""><span class="fa fa-instagram"></span></a>
                            <a href="#" title=""><span class="fa fa-pinterest"></span></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="~/HomeContents/images/logo_blue.png" alt="" /></a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">HOME</a></li>
                    <li><a href="@Url.Action("AboutUs","Home")">ABOUT</a></li>
                    <li><a href="@Url.Action("Services","Home")">SERVICES</a></li>
                    <li><a href="@Url.Action("Pricing","Home")">PRICING</a></li>
                    <li><a href="@Url.Action("FAQ","Home")">FAQ</a></li>
                    <li><a href="@Url.Action("Blog","Home")">BLOG</a></li>
                    <li><a href="@Url.Action("Login","Account")" class="smoothScroll">LOGIN</a></li>
                </ul>
            </div>
        </div>
    </div>


  


    @RenderBody()



    <!-- FOOTER SECTION -->
    <div class="footer">

        <div class="f-desc">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="footer-item">
                            <div class="footer-logo">
                                <img src="~/HomeContents/images/logo_blue.png" alt="" />
                            </div>
                            <p>Laundry Business</p>
                            <div class="footer-sosmed">
                                <a href="#" title="">
                                    <div class="item">
                                        <i class="fa fa-facebook"></i>
                                    </div>
                                </a>
                                <a href="#" title="">
                                    <div class="item">
                                        <i class="fa fa-twitter"></i>
                                    </div>
                                </a>
                                <a href="#" title="">
                                    <div class="item">
                                        <i class="fa fa-pinterest"></i>
                                    </div>
                                </a>
                                <a href="#" title="">
                                    <div class="item">
                                        <i class="fa fa-google"></i>
                                    </div>
                                </a>
                                <a href="#" title="">
                                    <div class="item">
                                        <i class="fa fa-instagram"></i>
                                    </div>
                                </a>
                                <a href="#" title="">
                                    <div class="item">
                                        <i class="fa fa-linkedin"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="footer-item">
                            <div class="footer-title">
                                <h4>RECENT POST</h4>
                            </div>
                            <div class="footer-blog-item">
                                <div class="footer-blog-lead">
                                    <a href="blog-1.html" title="">How to laundry your suit office - tips and trick.</a>
                                </div>
                                <div class="footer-blog-date">
                                    May 29, 2015
                                </div>
                            </div>
                            <div class="footer-blog-item">
                                <div class="footer-blog-lead">
                                    <a href="blog-1.html" title="">How to laundry your suit office - tips and trick.</a>
                                </div>
                                <div class="footer-blog-date">
                                    May 29, 2015
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="footer-item">
                            <div class="footer-title">
                                <h4>NEWSLETTER</h4>
                            </div>
                            <div class="footer-form">
                                <form action="#">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-default">SEND</button>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="footer-item">
                            <div class="footer-title">
                                <h4>GET IN TOUCH</h4>
                            </div>
                            <div class="footer-getintouch">
                                <div class="footer-getintouch-item">
                                    <div class="icon">
                                        <b class="fa fa-phone"></b>
                                    </div>
                                    <div class="desc">
                                        <div class="desc-1">Phone</div>
                                        <div class="desc-2">:</div>
                                        <div class="desc-3">+9779866027202 <br />067690234</div>
                                    </div>
                                </div>
                                <div class="footer-getintouch-item">
                                    <div class="icon">
                                        <b class="fa fa-envelope "></b>
                                    </div>
                                    <div class="desc">
                                        <div class="desc-1">Email</div>
                                        <div class="desc-2">:</div>
                                        <div class="desc-3"><a href="mailto:info@elaundrynepal.com.np" title="">info@elaundrynepal.com.np</a></div>
                                    </div>
                                </div>
                                <div class="footer-getintouch-item">
                                    <div class="icon">
                                        <b class="fa fa-globe"></b>
                                    </div>
                                    <div class="desc">
                                        <div class="desc-1">Website </div>
                                        <div class="desc-2">:</div>
                                        <div class="desc-3">www.elaundrynepal.com.np</div>
                                    </div>
                                </div>
                                <div class="footer-getintouch-item">
                                    <div class="icon">
                                        <b class="fa fa-map-marker"></b>
                                    </div>
                                    <div class="desc">
                                        <div class="desc-1">Address </div>
                                        <div class="desc-2">:</div>
                                        <div class="desc-3">Shantinagar <br />Kathmandu, Nepal</div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <div class="fcopy">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="ftex">&copy; 2020 E-Laundry System by Santosh Acharya | UG Project</p>
                    </div>
                </div>
            </div>
        </div>

    </div>




    <script type="text/javascript" src="~/HomeContents/js/jquery.min.js"></script>
    <script type='text/javascript' src='~/HomeContents/https://maps.google.com/maps/api/js?sensor=false&#038;ver=4.1.5'></script>
    <script type='text/javascript' src='~/HomeContents/js/jqBootstrapValidation.js'></script>
    <script type="text/javascript" src="~/HomeContents/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/HomeContents/js/bootstrap-hover-dropdown.min.js"></script>

    <script type="text/javascript" src="~/HomeContents/js/script.js"></script>

</body>
</html>
